@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500');

body {
    text-align:center;
    background-image: url('../img/bg.jpg');
    background-repeat: repeat;
    margin:40px 0px;
}

body, textarea {
    font-family: "Noto Sans KR", sans-serif;
}

textarea {
    font-weight:500;
    background-image: url('../img/bg.jpg');
    background-repeat: repeat;
    background-size: contain;
    border:none;
    resize: none;
    line-height: 1.6em;
    color:#515151;
    padding:20px 40px;
    width:360px;
    height:480px;
}

textarea:focus {
    outline:none;
}

select {
    padding:5px;
    margin:10px 0px;
}

button {
    background: rgb(228, 175, 15);
    border: 0px;
    color: white;
    cursor:pointer;
}

#edit button {
    padding:2px;
    height:18px;
    width:18px;
    margin:0px 2px;
}

#save_btn {
    width:360px;
    padding:8px 0px;
}

#edit {
    padding-top:15px;
    color: rgb(228, 175, 15);
    font-weight: bold;
    font-size:1em;
}

#expand {
    margin-bottom:10px;
}

#align {
    margin:10px 0px;
}

span {
    cursor: pointer;
}

#caution {
    margin-top:20px;
    color:#666;
}

#text {
    display: inline-block;
}

#icon {
    height:1.5em;
    vertical-align: middle;
}

footer {
    margin-top:20px;
    color:#555;
    font-weight: bold;
}

@media (max-width:700px) {
    body {
        font-size:0.8em;
        margin:20px 0px;
        background-size: contain;
    }

    h2 {
        margin-bottom:0px;
        padding-bottom:15px;
        border-bottom:1px solid #DDD;
    }

    textarea {
        width:100%;
        height:30em;
        padding:30px;
        box-sizing: border-box;
    }

    #edit {
        border-top:1px solid #DDD;
    }

    #text {
        display:block;
    }

    #save_btn {
        box-sizing: border-box;
        width:80%;
    }
}